.titulo{
    padding-top: 1%;
    text-align: center;
}

.hw{ 
    width: 20%;
    padding: 2% 2% 2% 10% ;
   
 
}
.hw2{
    width: 20%;
    padding: 2% 15% 2% 2% ;
}

.btn{
   margin: 5px;
   text-align: center;
}

.exito{
    color: blue;
}

.error{
    color: red;
}


  .registrarGuardia{
    background-color: #00B9BC;
  }
  .registrarGuardia:hover{
    background-color: #F63700;
  color: black;
  }
