.titulo{
    padding-top: 2%;
    text-align: center;
    
}

.miLabel{
  text-align: left;
  margin: 10px;
}
#nroTrabajadores{
  width: 50%;
  margin: 10px;
}

#costoEspera{
  width: 50%;
  margin: 10px;
}

#sueldo{
  width: 50%;
  margin: 10px;
}

.btn{
   margin-top: 5%;
   text-align: center;
}

.exito{
    color: blue;
}

.error{
    color: red;
}


.Miboton{
  margin-bottom: 2rem;
}

.miParrafo{

  display: block;
  background-color: aqua;
  border-radius: 20px;
  padding: 1rem;
}