.miParafo{
display: block;
padding: 1rem 3rem 0rem 3rem;
}

.miRef{
    text-decoration: none;
    color: white;
}

.container{
    width: 100%;
    min-height: 72vh;
 }

 .parraf{
    color: #154e58c9;
    font-weight: 500;
 }
